SWLNPasantia/App_WebReferences/SWADNETPAS/SWADNETPAS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EPPostulacionSimple">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAceptacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Estudiante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Institucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Modalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Postulacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_SedeAcademica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EPPostulacionSimple" nillable="true" type="tns:EPPostulacionSimple" />
  <xs:complexType name="EDefectoAD">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Excepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Servicio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EDefectoAD" nillable="true" type="tns:EDefectoAD" />
  <xs:complexType name="ArrayOfEPPostulacionSimple">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EPPostulacionSimple" nillable="true" type="tns:EPPostulacionSimple" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEPPostulacionSimple" nillable="true" type="tns:ArrayOfEPPostulacionSimple" />
  <xs:complexType name="EPPasantia">
    <xs:sequence>
      <xs:element minOccurs="0" name="CargoResposable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionInstitucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HorasPasantia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreInstitucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreModalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreResposable" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EPPasantia" nillable="true" type="tns:EPPasantia" />
  <xs:complexType name="EPModalidadSimple">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Modalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreModalidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EPModalidadSimple" nillable="true" type="tns:EPModalidadSimple" />
  <xs:complexType name="ArrayOfEPModalidadSimple">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EPModalidadSimple" nillable="true" type="tns:EPModalidadSimple" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEPModalidadSimple" nillable="true" type="tns:ArrayOfEPModalidadSimple" />
  <xs:complexType name="EPInstitucionSimple">
    <xs:sequence>
      <xs:element minOccurs="0" name="CargoResponsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoInstitucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionInstitucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Institucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreInstitucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreResponsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellidoResponsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellidoResponsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoInstitucion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EPInstitucionSimple" nillable="true" type="tns:EPInstitucionSimple" />
  <xs:complexType name="ArrayOfEPInstitucionSimple">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EPInstitucionSimple" nillable="true" type="tns:EPInstitucionSimple" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEPInstitucionSimple" nillable="true" type="tns:ArrayOfEPInstitucionSimple" />
  <xs:complexType name="EPPasantiaSimple">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicioPasantia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Horas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Pasantia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Postulacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EPPasantiaSimple" nillable="true" type="tns:EPPasantiaSimple" />
  <xs:complexType name="ArrayOfEPPasantiaSimple">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EPPasantiaSimple" nillable="true" type="tns:EPPasantiaSimple" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEPPasantiaSimple" nillable="true" type="tns:ArrayOfEPPasantiaSimple" />
  <xs:complexType name="ArrayOfPasantias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pasantias" nillable="true" type="tns:Pasantias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPasantias" nillable="true" type="tns:ArrayOfPasantias" />
  <xs:complexType name="Pasantias">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEstudiante" type="xs:int" />
      <xs:element minOccurs="0" name="IdPasantia" type="xs:int" />
      <xs:element minOccurs="0" name="IdSedeAcademica" type="xs:int" />
      <xs:element minOccurs="0" name="NombreModalidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pasantias" nillable="true" type="tns:Pasantias" />
</xs:schema>