SWLNPasantia/App_WebReferences/SWADNETPAS/SWADNETPAS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63193/SWADNETPAS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Adicionar_PPostulacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="epPostulacion_Simple" nillable="true" type="q1:EPPostulacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adicionar_PPostulacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PPostulacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="epPostulacion_Simple" nillable="true" type="q2:EPPostulacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PPostulacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PPostulacion_EstadoAprobado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Postulacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PPostulacion_EstadoAprobadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PPostulacion_EstadoObservado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Postulacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PPostulacion_EstadoObservadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PPostulacionResult" nillable="true" type="q3:ArrayOfEPPostulacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Datos_Soilicitud_Id_Estudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Estudiante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Datos_Soilicitud_Id_EstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Datos_Soilicitud_Id_EstudianteResult" nillable="true" type="q4:EPPasantia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion_Estado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion_EstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PPostulacion_EstadoResult" nillable="true" type="q5:ArrayOfEPPostulacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion_Id_Postulacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Postulacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion_Id_PostulacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PPostulacion_Id_PostulacionResult" nillable="true" type="q6:EPPostulacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion_Id_Estudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Estudiante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion_Id_EstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PPostulacion_Id_EstudianteResult" nillable="true" type="q7:EPPostulacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion_Id_Estudiante_Verificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Estudiante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion_Id_Estudiante_VerificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PPostulacion_Id_Estudiante_VerificarResult" nillable="true" type="q8:ArrayOfEPPostulacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion_Id_SedeAcademica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_SedeAcademica" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPostulacion_Id_SedeAcademicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PPostulacion_Id_SedeAcademicaResult" nillable="true" type="q9:ArrayOfEPPostulacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPostulacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Estudiante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPostulacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="VerificarPostulacionResult" nillable="true" type="q10:EPPostulacionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PModalidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="epModalidadSimple" nillable="true" type="q11:EPModalidadSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PModalidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Adicionar_PModalidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="epModalidadSimple" nillable="true" type="q12:EPModalidadSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adicionar_PModalidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PModalidad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PModalidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PModalidadResult" nillable="true" type="q13:ArrayOfEPModalidadSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PModalidad_Id_Modalidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Modalidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PModalidad_Id_ModalidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PModalidad_Id_ModalidadResult" nillable="true" type="q14:EPModalidadSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adicionar_PInstitucion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="epInstitucionSimple" nillable="true" type="q15:EPInstitucionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adicionar_PInstitucionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PInstitucion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="epInstitucionSimple" nillable="true" type="q16:EPInstitucionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PInstitucionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PInstitucion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PInstitucionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PInstitucionResult" nillable="true" type="q17:ArrayOfEPInstitucionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PInstitucion_Id_Institucion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Institucion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PInstitucion_Id_InstitucionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PInstitucion_Id_InstitucionResult" nillable="true" type="q18:EPInstitucionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PInstitucion_NombreInstitucion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreInstitucion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PInstitucion_NombreInstitucionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PInstitucion_NombreInstitucionResult" nillable="true" type="q19:EPInstitucionSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adicionar_PPasantia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="epPasantiaSimple" nillable="true" type="q20:EPPasantiaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adicionar_PPasantiaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PPasantia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="epPasantiaSimple" nillable="true" type="q21:EPPasantiaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PPasantiaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PPasantia_FechaInicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="epPasantiaSimple" nillable="true" type="q22:EPPasantiaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_PPasantia_FechaInicioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPasantia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPasantiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PPasantiaResult" nillable="true" type="q23:ArrayOfEPPasantiaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPasantia_Id_Pasantia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Pasantia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPasantia_Id_PasantiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PPasantia_Id_PasantiaResult" nillable="true" type="q24:EPPasantiaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPasantia_Id_Postulacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Postulacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPasantia_Id_PostulacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PPasantia_Id_PostulacionResult" nillable="true" type="q25:EPPasantiaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPasantia_Finalizado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PPasantia_FinalizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_PPasantia_FinalizadoResult" nillable="true" type="q26:ArrayOfEPPasantiaSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPasantia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPasantiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerPasantiaResult" nillable="true" type="q27:ArrayOfPasantias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPasantiaFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecha2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPasantiaFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerPasantiaFechaResult" nillable="true" type="q28:ArrayOfPasantias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>